*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Rubik', sans-serif;
    background: linear-gradient(167.96deg, #8257E5 0%, #271A45 100%) no-repeat; 

    height: 100vh;

    display: grid;
    place-content: calc();
}

strong,
h1{
    font-weight: 500;
}

h1{
    font-size: 2rem;
    line-height: 2.4rem;
    color: white;
    text-align: center;
}

p{
    color: rgba(0, 0, 0, 0.64);
    font-size: 1.4rem;
    line-height: 1.7rem;
    white-space: nowrap;
}

strong{
    color: rgba(0, 0, 0, 0.88);
    font-size: 1.6rem;
    line-height: 1.9rem;

}
/* classes  utilitarias */
.grid{
    display: grid;
}

.column{
    grid-auto-flow: column;
}

.text-right{
    text-align: right;
}

/* fim das calsses utilitarias */
#boarding-pass{
    max-width: 32.7rem;

    margin: auto;
}

#ticket{
    margin-top: 2rem;
    
}


section{
    background-color: white;
    padding: 2.4rem 3rem;

    box-shadow: 0rem .4rem 2.4rem rgba(0, 0, 0, 0.25); 

    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.top{
    border-radius: 2.4rem 2.4rem 0  0;
    gap: 2.4rem;

    --mask: radial-gradient(1.2rem at 1.2rem bottom, transparent 95%, black) -1.2rem;
    -webkit-mask-repeat: repeat-x;
    mask-repeat: repeat-x;

}


.departurre strong, .arriva strong{
    font-size: 4rem;
    line-height: 4.7rem;
}

.airplane{
    align-self: center;
}

.top time{
    color: rgba(0, 0, 0, 0.8);
}

.top time sub{
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;
}

.middle{
    border: 1px dashed rgba(0, 0, 0, 0.32);
    border-left: 0;
    border-right: 0;

    --mask: radial-gradient(1.2rem at 1.2rem 1.2rem, transparent 95%, black) 
    -1.2rem -1.2rem;
    
}

.bottom{
    border-radius: 0 0 2.4rem 2.4rem;

    --mask: radial-gradient(1.2rem at 1.2rem top, transparent 95%, black) -1.2rem;
    -webkit-mask-repeat: repeat-x;
    mask-repeat: repeat-x;
}

.bottom .container{
    align-items: center;
    gap: .8rem;
}

dl.grid{
    gap: 1.6rem;
    min-width: 9.5rem;
}

.bottom > p{
    text-align: center;
    margin-top: 2.4rem;

    font-size: 1.6rem;
    line-height: 2rem;
    color: rgba(0, 0, 0, 0.8);
}

.qrcode.grid{
    justify-items: center;
}

dt time{
    color: white;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.6rem;
    background-color: #633bbc;
    border-radius: .8rem;
    padding: .4rem .8rem;
    display: inline-block;
    margin-top: .2rem;
}

footer{
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: white;
    opacity: 0.64;
    text-align: center;
    margin: 2rem auto;
}